<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>Online Package Tracking Service - Sign In</title>
</head>
<body>
    <div layout:fragment="content" >

        <!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
        <section class="breadcrumbs-area parallex">
            <div class="container">
                <div class="row">
                    <div class="page-title">
                        <div class="col-sm-12 col-md-6 page-heading text-left">
                            <h3>prove your identity</h3>
                            <h2>Login Your Account</h2>
                        </div>
                        <div class="col-sm-12 col-md-6 text-right">
                            <ul class="breadcrumbs">
                                <li><a href="/">home</a></li>
                                <li><a href="#">sign in</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->


        <!-- =-=-=-=-=-=-= Sign In Section =-=-=-=-=-=-= -->

        <section class="section-padding-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <form class="registration" th:action="@{/packagetracking/public/login}" method="post">
                            <div class="box-header">
                                <h2>Login to your account</h2>
                            </div>

                            <div th:if="${param.error}" class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Invalid username and/or password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-dismissible alert-primary">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                You have been signed out.
                            </div>

                            <label>User Name</label>
                            <input id="username" name="username" type="text" class="form-control margin-bottom-20" autofocus="autofocus"/>

                            <label>Password <span class="color-red">*</span></label>
                            <input id="password" name="password" type="password" class="form-control margin-bottom-20"/>

                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="checkbox checkbox-default">
                                        <input type="checkbox" id="checkbox2" checked="">
                                        <label for="checkbox2">
                                            Stay signed in
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 row col-sm-4 col-xs-12 text-right">
                                    <button type="submit" class="btn btn-primary btn-sm">Login</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- =-=-=-=-=-=-= Section End =-=-=-=-=-=-= -->

    </div>

    <th:block layout:fragment="footer"></th:block>

</body>
</html>
