
<footer class="footer-area" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">

    <!--Footer Upper-->
    <div class="footer-content">
        <div class="container">
            <div class="row clearfix">

                <!--Two 4th column-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <div class="col-lg-7 col-sm-6 col-xs-12 column">
                            <div class="footer-widget about-widget">
                                <div class="logo">
                                    <a href="index.html"><img th:src="@{/images/logo-1.png}" class="img-responsive"
                                                              alt=""></a>
                                </div>

                                <ul class="contact-info">
                                    <li><span class="icon fa fa-map-marker"></span> Fairfield, Iowa
                                    </li>
                                    <li><span class="icon fa fa-phone"></span> +1 (123) 123-4567</li>
                                    <li><span class="icon fa fa-envelope-o"></span>contact@onlinepackage.com</li>
                                </ul>
                                <div class="social-links-two clearfix"> <a href="#"
                                                                           class="facebook img-circle"><span class="fa fa-facebook-f"></span></a> <a
                                        href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="google-plus img-circle"><span
                                            class="fa fa-google-plus"></span></a> <a href="#"
                                                                                     class="linkedin img-circle"><span class="fa fa-pinterest-p"></span></a> <a
                                            href="#" class="linkedin img-circle"><span
                                            class="fa fa-linkedin"></span></a> </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="col-lg-5 col-sm-6 col-xs-12 column">

                        </div>
                    </div>
                </div>
                <!--Two 4th column End-->

                <!--Two 4th column-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="col-lg-7 col-sm-6 col-xs-12 column">

                        </div>

                        <!--Footer Column-->
                        <div class="col-lg-5 col-sm-6 col-xs-12 column">
                            <h2>Our Service</h2>
                            <div class="footer-widget links-widget">
                                <ul>
                                    <li><a href="#">Packaging And Storage</a></li>
                                    <li><a href="#">worldwide transport</a></li>
                                    <li><a href="#">Internation Air Freight</a></li>
                                    <li><a href="#">ground shipping</a></li>
                                    <li><a href="#">24/7 Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Two 4th column End-->

            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-copyright">
        <div class="auto-container clearfix">
            <!--Copyright-->
            <div class="copyright text-center">Copyright 2023
            </div>
        </div>
    </div>
</footer>